body {
    padding-right: 248px;
    text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: cornflowerblue;
}
=======
=======
>>>>>>> header
    font-family: Arial, Helvetica, sans-serifs;
    color: white;
    background: black;
    padding: 8px;
    margin-right: 0px;
    margin-left: 274px;
    margin-top: 151px;}
<<<<<<< HEAD
>>>>>>> cabecera
=======
>>>>>>> header
.cabecera
{
    background: darkgoldenrod;
    color: white;
    padding: 20px;
    margin: 0px;
    box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.75);
}
#container
{
    background: #f28424;
    width: 70%;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
    -moz-box-shadow: 2px 17px 26px 5px rgba (0,0,0,0.75);
}