body {
    padding-right: 248px;
    text-align: center;
background: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: white;
}

 header{
    font-family: Arial, Helvetica, sans-serifs;
    color: white;
    background: black;
    padding: 8px;
    margin-right: 0px;
    margin-left: 274px;
    margin-top: 151px;}

    .tittle
    {
        margin: 45px;
    }
    .hola
    {
       height: 400px;
       width: 746px;
    }
    .cabecera {
        background: darkgoldenrod;
        color: white;
        padding: 31px;
        margin: -19px;
        box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.75);
    }



#container
{
    background: #f28424;
    width: 70%;
    padding: 20px;
    margin-left: 248px;
    text-align: center;
    border: 1px solid white;
    -moz-box-shadow: 2px 17px 26px 5px rgba(0,0,0,0.75);
}
.texto
{
    margin-bottom: 50px;
}
.footer
{
    background-color: black;
    margin-left: -18px;
    margin-bottom: -19px;
    padding: 67px;
    width: 662px;
    height: 0px;
}
